{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": ["eslint:recommended", "airbnb-base", "prettier"],
    "plugins": ["prettier"],
    "rules":{
        "no-console": "warn",
        "prettier/prettier": "error"
    }
}