{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb-base",
        "prettier",
        "plugin:import/recommended"
    ],
    "plugins": ["prettier", "import"],
    "rules":{
        "no-console": "warn",
        "class-methods-use-this": "off",
        "import/extensions": "off",
        "prettier/prettier": "error"
    }
}